Connection + imports

In [1]:
import warnings
warnings.simplefilter('ignore')

import pyodbc
import pandas as pd
import sqlite3

server = 'LAPTOP-8R8HAJSC\\SQLEXPRESS01'
dwhdb = 'Great Outdoors DWH'
sourcedb = 'Great outdoors Source'

dwhConnectionString = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={dwhdb};Trusted_Connection=yes;'
dwhConnection = pyodbc.connect(dwhConnectionString)

sourceConnectionString = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={sourcedb};Trusted_Connection=yes;'
sourceConnection = pyodbc.connect(sourceConnectionString)

cursor = sourceConnection.cursor()

In [9]:
df = pd.read_sql_query("SELECT * FROM course", sourceConnection)
df['PK'] = df.index
df

   COURSE_CODE COURSE_DESCRIPTION  PK
0            1     GO Orientation   0
1            2   GO Communication   1
2            3         GO Sales 1   2
3            4         GO Sales 2   3
4            5     GO Marketing 1   4
5            6     GO Marketing 2   5
6            7     GO Marketing 3   6
7            8    GO Management 1   7
8            9    GO Management 2   8

In [ ]:
table_name = 'satisfaction'
alter_sql = f'ALTER TABLE {table_name} ADD id INT IDENTITY(1,1)'

cursor.execute(alter_sql)
dwhConnection.commit()

ProgrammingError: ('42S21', "[42S21] [Microsoft][ODBC SQL Server Driver][SQL Server]Column names in each table must be unique. Column name 'id' in table 'satisfaction' is specified more than once. (2705) (SQLExecDirectW)")